@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Italiana&family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Italiana&family=Montaga&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px;
  background-color: black; /* Background of the scroll track */
}

/* Scrollbar "thumb" – the draggable part */
::-webkit-scrollbar-thumb {
  background-color: white; /* The scroll thumb color */
  border-radius: 10px;
}

/* Optional: Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

  :root {
    --font-inter: 'Inter', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
  }

  
@layer utilities{
  .card-wrapper{
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }
  .card-wrapper::before{
    background:conic-gradient(
      rgba(244,114,182,0.7) 0deg,
      rgba(192,132,252,0.7) 0deg,
      transparent 80deg
    );
    @apply h-[150%] w-[150%] left-[-25%] top-[-25%]  content-[''] absolute animate-border-spin;
  }
  .card-content{
      @apply w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] absolute bg-gradient-to-b from-slate-900 to-slate-950 rounded-2xl;
    }
  }

  /* .cursor-play {
    cursor: url("/public/play-button.png") 16 16, pointer !important;
}

.cursor-pause {
    cursor: url("/public/play-button.png") 16 16, pointer !important;
} */


.card-glow::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: 0.875rem; /* 0.75rem + 2px (rounded-xl + offset) */
    background: linear-gradient(145deg, #7028e4, #000000);
    opacity: 1;
  }


.perspective-1000 {
  perspective: 1000px;
}
.carousel {
  transform-style: preserve-3d;
}



.counter-text {
  font-weight: 700;
  color: transparent; /* transparent fill */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3b82f6; /* Tailwind blue-500 */
}



.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}